
.Button{
    background-color: black;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}
table{
    background-color: black;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}